@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<header style="margin-bottom:5rem;">
    <div class="d-flex h-100 align-items-center masthead">
        <div class="mx-auto text-center">
            <h1 class="text-white mx-auto my-0 text-uppercase">PRESAS HIDROELECTRICAS</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">¡Bienvenidos a nuestra página! Aquí podrás encontrar los datos básicos sobre las presas hidroeléctricas y el efecto que estas tienen en la composición del agua</h2>
        </div>
    </div>
</header>
<section class="img-container projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row-->
        @for(int i = 0; i<Model.centrales.Count; i++)
        {
        <div class="row align-items-center no-gutters mt-4 mb-lg-5">
            @if (i == 0)
            {
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0 mx-auto d-block" src="~/Resources/01-Central-Guajoyo.jpg" alt="" /></div>
            }
            else if (i == 1)
            {
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0 mx-auto d-block" src="~/Resources/Central-Cerron-Grande.jpg" alt="" /></div>
            }
            else if (i == 2)
            {
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0 mx-auto d-block" src="~/Resources/Central-5-de-Noviembre.jpg" alt="" /></div>
            }
            else if (i == 3)
            {
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0 mx-auto d-block" src="~/Resources/02-Centarl-15-de-Septiembre.jpg" alt="" /></div>
            }
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>@Model.centrales[i].nombre</h4>
                    <p class="text-black-50 mb-0" style="text-align: justify;">@Model.centrales[i].ubicacion</p>
                </div>
            </div>
        </div>
        }
    </div>
</section>