@page
@model Cambio_Climático.Pages.IndexModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
</head>

<body>





    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">¿Cómo funcionan las centrales hidroeléctricas?</h1>
            <p class="lead my-3">
                Las centrales hidroeléctricas convierten en energía eléctrica la diferencia de energía
                potencial que tiene una determinada masa de agua al trasladarla entre dos puntos situados a distinta altitud
                o cota, por medio de la circulación de un caudal de agua por un circuito hidráulico que salva el desnivel
                entre dos
                puntos, el salto, y en el que el agua va adquiriendo velocidad a medida que
                la energía potencial se va transformado parcialmente en energía cinética para pasar a la turbina
                que se encarga de
                transformar esa energía cinética en energía mecánica, para que el generador la transforme a su vez en
                energía eléctrica.

            </p>
        </div>
    </div>



    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">


                <div class="blog-post">
                    <h2 class="blog-post-title">Elementos de una central eléctrica</h2>


                    <p class="font-weight-bold">Presa</p>

                    <p>
                        Una infraestructura de obra civil, es la infraestructura de obra civil. Entre sus características físicas destacan la altura sobre los cimientos
                        es la infraestructura de obra civil. Entre sus características físicas destacan la altura sobre los cimientos una barrera fabricada de piedra, hormigón o materiales sueltos, que se construye habitualmente en
                        una cerrada o desfiladero sobre un río o arroyo. Tiene la finalidad de embalsar el agua en el cauce
                        fluvial para elevar su nivel con el objetivo de derivarla, mediante canalizaciones de riego, para su
                        aprovechamiento en abastecimiento o regadío, en eliminación de avenidas (evitar inundaciones de aguas
                        abajo de la presa) o para la producción de energía mecánica al transformar la energía potencial del
                        almacenamiento en energía cinética y esta nuevamente en mecánica y que así se accione un elemento móvil
                        con la fuerza del agua.
                    </p>
                    <blockquote>

                        <p class="font-weight-bold">Embalse</p>
                        <p>
                            Se denomina embalse a la acumulación de agua producida por una construcción en el lecho de un río o arroyo
                            que cierra parcial o totalmente su cauce  La construcción del embalse puede ocurrir por causas naturales como,
                            por ejemplo, el derrumbe de una ladera en un tramo estrecho del río o arroyo, la acumulación de placas de
                            hielo o las construcciones, y por obras construidas por el hombre para tal fin.
                        </p>
                    </blockquote>

                    <p class="font-weight-bold">Central Eléctrica</p>
                    <p>
                        Es todo dispositivo capaz de mantener una diferencia de potencial eléctrica entre dos de sus puntos
                        (llamados polos, terminales o bornes) transformando la energía mecánica en eléctrica. Esta transformación
                        se consigue por la acción de un campo magnético sobre los conductores eléctricos dispuestos sobre una
                        armadura (denominada también estátor). Si se produce mecánicamente un movimiento relativo entre los
                        conductores y el campo, se generará una fuerza electromotriz (F.E.M.). Este sistema está basado en la ley
                        de Faraday.
                    </p>

                    <hr>
                    <h2>Tipos de centrales hidroeléctricas</h2>
                    <p class="font-weight-bold">Centrales de agua fluyente</p>
                    <p>
                        El funcionamiento de la central se adapta totalmente y en todo momento al régimen de caudales que
                        discurre por el río, sin alterarlo. Estas centrales no poseen, por tanto, una capacidad significativa
                        de almacenamiento y tienen un funcionamiento continuo, aunque variable a lo largo del año. La energía
                        producida no se puede adaptar a las necesidades de cobertura de la demanda eléctrica.
                    </p>
                    <p class="font-weight-bold">Centrales de regulación</p>
                    <p>
                        En este caso concreto, sí que es posible almacenar agua y regular su funcionamiento para atender
                        las necesidades de gestión de la demanda. La capacidad de almacenamiento se consigue mediante un embalse
                        situado aguas arriba de la central y dependiendo de su capacidad se habla de regulación estacional, anual
                        e incluso, hiperanual.
                    </p>
                    <p class="font-weight-bold">Centrales reversibles o de bombeo</p>
                    <p>Estas instalaciones, además de generar energía, son capaces de acumular energía eléctrica bombeando agua a un embalse superior.</p>
                    <h3>Impactos</h3>
                    <p>
                        Muchas veces se escucha que la energía hidroeléctrica es energía limpia, es decir que no genera residuos,
                        en parte es cierto ya que no genera un residuo como tal, pero afecta la concentración de oxígeno disuelto
                        en el agua en los embalses y aumenta la Demanda Bioquímica de Oxígeno (DBO) y por tanto, también la
                        demanda química, realmente la energía hidroeléctrica es un tipo de energía renovable, esto quiere decir
                        que la fuente de generación de energía no proviene de combustibles fósiles.
                        La creación de centrales trae una serie de consecuencias, que aunque se relaciona esta palabra con
                        aspectos negativos, realmente solo se desliga como la reacción a una acción específica, aclarando lo
                        anterior se puede decir que algunas consecuencias de la creación de centrales son:
                    </p>
                    <ul>
                        <li>
                            Generación de empleos de manera directa: En la construcción de la central y de la presa se requiere
                            mano de obra y se generan empleos, además cuando comienza a funcionar la central, se requiere personal
                            para operarla.
                        </li>
                        <li>
                            Generación de empleos de manera indirecta: La creación del embalse genera nuevas zonas pesqueras,
                            criaderos de peces y puede aumentar el turismo en la zona.
                        </li>
                        <li>
                            Desplazamientos de comunidades: En algunas ocasiones es necesario desplazar ciertas comunidades
                            que se verán afectadas con la inundación que generará el embalse, esto obliga a abandonar las tierras
                            que poseen las familias y empezar de nuevo, muchas veces con nuevos empleos y no siempre todo el daño
                            generado lo podrá cubrir el gobierno.
                        </li>
                        <li>
                            Impacto ambiental: Como toda creación antropogénica, ésta tiene un
                            impacto sobre el ambiente, primeramente se puede decir que la
                            creación del embalse hace que la corriente del agua pase de lotico a
                            lentico, es decir que pasan de ser agua fluviales como ríos, a ser agua
                            superficiales con mucha menor corriente de agua, como un lago, esto
                            afecta al ciclo natural ya que en las corriente de los ríos se arrastran
                            sedimentos que son parte del ciclo químico natural y se oxigena más
                            fácilmente el agua, sumado a esto, las aguas lenticas propician la
                            generación de fitoplancton, lo que aumenta la DBO del agua, lo que
                            causa que el oxígeno disuelto vaya disminuyendo cada vez más
                            rápido, además como aumenta la cantidad de materia biológica y
                            orgánica en las aguas, al descomponerse generan metano, que es una
                            gas de efecto invernadero de los más conocidos.
                            A nivel de fauna, el cambio de corriente genera que la fauna original
                            no pueda sobrevivir y se introduzcan especies para la pesca
                            (criaderos) que puedan sobrevivir en ese tipo de corriente, además de
                            que imposibilita migraciones o ciclos de reproducción.
                        </li>
                    </ul>
                </div><!-- /.blog-post -->







            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <img src="https://ingeoexpert.com/wp-content/uploads/2018/03/Central-Hidroelectrica.jpg" class="img-thumbnail" alt="Imagen">
                </div>

                <div class="p-3">
                    <h3 class="font-italic">Enlaces externos</h3>
                    <ol class="list-unstyled mb-0">
                        <li><a href="https://www.iberdrola.com/wcorp/gc/prod/es_ES/comunicacion/docs/Infografia_Central_Hidroelectrica_Funcionamiento.pdf">Infografía</a></li>


                    </ol>
                    <h4 class="font-italic">Fuentes</h4>
                    <ol>
                        <li><a href="https://www.iberdrola.com/medio-ambiente/que-es-energia-hidroelectrica">www.iberdrola.com</a></li>
                        <li><a href="https://www.cel.gob.sv/central-hidroelectrica-15-de-septiembre/">www.cel.gob.sv</a></li>
                        <li><a href="https://www.marn.gob.sv/sitio-ramsar-embalse-cerron-grande/">www.marn.gob.sv</a></li>
                        <li><a href="https://climapesca.org/2017/05/09/embalse-5-de-noviembre/">climapesca.org</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>
</html>