@page
@model Cambio_Climático.Pages.InvestigationModel
@{
    ViewData["Title"] = "Investigation";
}

    <header>
        <div class="d-flex h-100 align-items-center masthead">
            <div class="mx-auto text-center">
                <h1 class="text-white mx-auto my-0 text-uppercase">Sección de investigación</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">¡Bienvenidos! </h2>
                <h3 class="text-white-50 mx-auto mt-2 mb-5">En esta sección usted podrá administrar sus informes que ha obtenido mediante su observaciones de la central</h3>
            </div>
        </div>
    </header>

@(await Html.RenderComponentAsync<Cambio_Climático.Components.InvestigationBlazor>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>